<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-calm" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-android-delete" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Report Issues</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon fa-icon fa-save" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <select-list data-comp-id="selectList.1" ng-model="data.Category">Category</select-list>
            </div>
        </div>
        <div class="row" data-comp-id="row.2">
            <div class="col" data-comp-id="column.2">
                <label class="item item-input" data-comp-id="textInput.1">
                    <span class="input-label required">Summary</span>
                    <input type="text">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>