<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-calm" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-android-delete" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Report Issues</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon fa-icon fa-save" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="row" data-comp-id="row.1">
            <div class="col" data-comp-id="column.1">
                <select-list data-comp-id="selectList.1" ng-model="data.Category">Category</select-list>
            </div>
        </div>
        <div class="row" data-comp-id="row.6">
            <div class="col" data-comp-id="column.6">
                <select-list data-comp-id="selectList.2">Reproducibility</select-list>
            </div>
        </div>
        <div class="row" data-comp-id="row.3">
            <div class="col" data-comp-id="column.3">
                <label class="item item-input" data-comp-id="textInput.1">
                    <span class="input-label required">Summary</span>
                    <input type="text">
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.4">
            <div class="col" data-comp-id="column.4">
                <label class="item item-input item-stacked-label" data-comp-id="textAreaInput.1">
                    <span class="input-label required">Description</span>
                    <textarea rows="4"></textarea>
                </label>
            </div>
        </div>
        <div class="row" data-comp-id="row.5">
            <div class="col" data-comp-id="column.5">
                <label class="item" custom-photo="control" data-comp-id="customPhoto.1"
                    ng-class="{'item-input item-button-right': style === 'control'}">
                    <span class="input-label" ng-if="style === 'control'">Custom Photo</span>
                    <button class="button button-icon" ng-if="style === 'control'">
                        <i class="icon positive-icon ion-camera"></i>
                    </button>
                    <input disabled="" ng-if="style === 'control'" type="text">
                    <input disabled="" ng-if="style === 'control'" type="text">
                    <button class="button button-block button-positive nomargin"
                        ng-if="style === 'button'">Custom Photo</button>
                    <input class="data-container" type="hidden">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>