<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class=" bar-assertive" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Viewissues</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div class="card" data-comp-display="card.1" data-comp-id="div.1">
            <div data-comp-id="div.2" ng-repeat="item in data.issueslist">
                <div class="row" data-comp-id="row.1">
                    <div class="col" data-comp-id="column.1">
                        <div data-comp-id="text.1">ID</div>
                    </div>
                    <div class="col" data-comp-id="column.2">
                        <div data-comp-id="text.2">Status</div>
                    </div>
                </div>
                <div class="row" data-comp-id="row.2">
                    <div class="col" data-comp-id="column.3"
                        style="border-top: 2px solid rgb(238, 238, 238);">
                        <div data-comp-id="text.3">summary</div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>